{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>

<div id="header"> header </div>


<div id="main">
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</div>


<div id="aside">
    <div class="aside-content">
        <h2 style="margin-bottom: 20px">Мой блог</h2>
        <p>Это мой блог</p>
        <p>Количество публикаций: {% total_posts %}</p>

    <h3>Последнии публикации</h3>
    {% show_latest_posts 3 %}

    <h3>Самые комментируемые публикации</h3>

        {% most_commented as most_commented %}

        {% for i in most_commented %}
        <ul>
            <li> <a href="{{ i.get_absilut_url }}"> {{i.title}} </a> </li>
            {% endfor %}
        </ul>

    </div>
</div>

<div id="footer"> footer </div>

</body>
</html>